[Desktop Entry]
Type=Application
Name=JAERO
GenericName=ACARS demodulator and decoder
Comment=A SatCom ACARS demodulator and decoder for the Aero standard
Exec=/opt/jaero/JAERO
Terminal=false
Icon=/opt/jaero/jaero.ico
Categories=Network;HamRadio;
Keywords=SDR;Radio;HAM;
